<div class="auth-wrapper">
  <div class="auth-card">

    <h2>Autentificare</h2>

    <div class="error-msg" *ngIf="error">{{ error }}</div>

    <form (ngSubmit)="onSubmit()">

      <div class="field">
        <label>Email</label>
        <input
          type="email"
          [(ngModel)]="form.email"
          name="email"
          placeholder="adresa@email.com"
          required />
      </div>

      <div class="field">
        <label>Password</label>
        <input
          type="password"
          [(ngModel)]="form.password"
          name="password"
          placeholder="password"
          required />
      </div>

      <button type="submit" [disabled]="loading">
        {{ loading ? 'Se încarcă...' : 'Intră în cont' }}
      </button>

    </form>

    <p class="switch-link">
      Don't have an account?
      <a routerLink="/auth/register">Sign up</a>
    </p>

  </div>
</div>
